/* CSS Reset =========================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================================== */
/* =========================================== */


* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.img-fluid {
  object-fit: contain;
  object-position: 0%;
  margin-bottom: 100px;
}

#lights {
  background-image: url("assets/lightsoff.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
}

#lights:hover {
  background-image: url("assets/lightson.jpeg");
}

#pt {
  height: 80vh;
  width: 100vw;
  position: absolute;
}

#floatTextBlack {
  position: absolute;
  left: 180px;
  top: 200px;
  background-color: black;
  padding: 20px 20px 30px 30px;
}

#floatTextBlack2 {
  position: absolute;
  left: 180px;
  top: 200px;
  padding: 20px 20px 30px 30px;
}
#sectionIntro {
  padding-bottom: 100px;
}

#sectionDebug, #sectionInspirationA, #sectionInspirationB, #sectionContact {
  height: 75vh;
}

#lightsCaption {
  font-size: 3.5vw;
  line-height: 40px;
}

#sectionInspirationA {
  background-image: url("assets/pianogif.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

#sectionInspirationB {
  background-image: url("assets/work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.gradientText {
  background: -webkit-linear-gradient(orange, indianred);
  font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(deeppink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(dodgerblue, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  background-image: url("assets/IMG_0888.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.jumbotron {
  background: none;
  height: 100vh;
}

.padded {
  padding: 0 70px 0 70px;
}

.navbar-brand {
  transition: .5s ease;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 15px;
  font-size: 16px;
}

.navbar {
  transition: .5s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
}

/* Horizontal Line */

hr {
  height: 2px;
  width: 100px;
  background: orange;
  margin-left: 0;
}

h1 {
  text-align: left;
  color: white;
  font-family: 'Domine', serif;
  font-size: 5vw;
  line-height: 90px;
}

h2 {
  text-align: left;
  color: lightgrey;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 30px;
}

h3 {
  color: dimgrey;
  text-align: left;
  font-family: 'Domine', serif;
  font-size: 30px;
}

p {
  color: #F9D695;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#contactContainer {
  background-color: #F0FFFF;
  z-index: -2;
}

#map {
  padding-right: 0;
  padding-left: 0;
}

#macwindow {
  position: absolute;
  width: 600px;
  z-index: -1;
  padding: 20px 40px 20px 40px;
}
