/* CSS Reset =========================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================== */
/* =========================================== */

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.img-fluid {
  object-fit: contain;
  object-position: 0%;
  margin-bottom: 100px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  background-image: url("./img/profile.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.jumbotron {
  background: none;
  height: 100vh;
}

/* section.resume-section {

} */

.navbar-brand {
  transition: 0.5s ease;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 15px;
  font-size: 1.3rem;
}

.navbar {
  transition: 0.5s ease;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.social-icons a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition-duration: 0.5s;
}

.social-icons a:hover {
  background-color: #a15aa5;
  transition-duration: 0.5s;
}

.dev-icons {
  font-size: 3rem;
  color: dimgrey;
}

.dev-icons .list-inline-item i:hover {
  color: #a15aa5;
  transition-duration: 0.5s;
}

.card-footer a {
  color: dimgrey;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.5s;
}

.card-footer a:hover {
  color: #a15aa5;
  transition-duration: 0.5s;
}

.badge-pill {
  background-color: #a15aa5;
}

.card-columns {
  column-count: 3;
}


#my-svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

hr {
  height: 0.5px;
  width: 10em;
  background: white;
  margin-left: 0;
}

h1 {
  text-align: left;
  color: white;
  font-family: "Domine", serif;
  font-size: 4em;
}

h2 {
  text-align: left;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 2.4em;
  line-height: 1.4em;
}

h3 {
  color: dimgrey;
  text-align: center;
  font-family: "Domine", serif;
  font-size: 2.5em;
}

h4 {
  color: dimgrey;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 4px;
}

p {
  color: dimgrey;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  line-height: 1.3em;
}


.list-group-item {
  color: dimgrey;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  line-height: 1.3em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}