/* CSS Reset =========================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =========================================== */
/* =========================================== */

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.img-fluid {
  object-fit: contain;
  object-position: 0%;
  margin-bottom: 100px;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  background-image: url("./img/profile.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

section.jumbotron {
  background: none;
  height: 100vh;
}

/* section.resume-section {

} */

.navbar-brand {
  transition: 0.5s ease;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 15px;
  font-size: 16px;
}

.navbar {
  transition: 0.5s ease;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 3.5rem;
  margin-right: 1rem;
  transition-duration: 0.5s;
}

.social-icons a:hover {
  background-color: #a15aa5;
  transition-duration: 0.5s;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #a15aa5;
  transition-duration: 0.5s;
}

#my-svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

hr {
  height: 0.5px;
  width: 200px;
  background: white;
  margin-left: 0;
}

h1 {
  text-align: left;
  color: white;
  font-family: "Domine", serif;
  font-size: 60px;
}

h2 {
  text-align: left;
  color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  color: dimgrey;
  text-align: center;
  font-family: "Domine", serif;
  font-size: 30px;
}

h4 {
  color: dimgrey;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 4px;
}

p {
  color: dimgrey;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #eee;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.2)
  );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8cf;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28f;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: "";
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.element-item.alkali {
  background: #f00;
  background: hsl(0, 100%, 50%);
}
.element-item.alkaline-earth {
  background: #f80;
  background: hsl(36, 100%, 50%);
}
.element-item.lanthanoid {
  background: #ff0;
  background: hsl(72, 100%, 50%);
}
.element-item.actinoid {
  background: #0f0;
  background: hsl(108, 100%, 50%);
}
.element-item.transition {
  background: #0f8;
  background: hsl(144, 100%, 50%);
}
.element-item.post-transition {
  background: #0ff;
  background: hsl(180, 100%, 50%);
}
.element-item.metalloid {
  background: #08f;
  background: hsl(216, 100%, 50%);
}
.element-item.diatomic {
  background: #00f;
  background: hsl(252, 100%, 50%);
}
.element-item.halogen {
  background: #f0f;
  background: hsl(288, 100%, 50%);
}
.element-item.noble-gas {
  background: #f08;
  background: hsl(324, 100%, 50%);
}
